:root {
  --main: #ff8c00;
  --text-light: #ffffff;
  --bg-dark: #0d0d0d;
  --bg-light: #f5f5f5;
  --text-dark: #111;
  --card-glow: rgba(255, 140, 0, 0.4);
}
/* Light mode variables */
body.light {
  --bg-dark: #f5f5f5;
  --text-light: #111;
  --bg-light: #0d0d0d;
  --text-dark: #ffffff;
  --card-glow: rgba(255, 140, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: var(--bg-dark);
  color: var(--text-light);
  transition: 0.5s;
  overflow-x: hidden;
}

/* ---------------- NAVBAR ---------------- */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 60px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  transition: 0.4s;
}
body.light nav {
  background: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* Logo */
nav .logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--main);
  letter-spacing: 2px;
  text-shadow: 0 0 12px var(--main);
  width: 20%;
}
/* Navbar Menu */
nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}
nav ul li {
  position: relative;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1rem;
  transition: 0.3s;
}
body.light nav ul li a {
  color: #000;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--main);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: var(--main);
  text-shadow: 0 0 10px var(--main);
}
/* Hire Me Button */
.nav-btn {
  padding: 10px 22px;
  background: var(--main);
  color: black;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 0 15px var(--main);
  cursor: pointer;
}
body.light .nav-btn {
  color: #fff;
  background: #333;
  box-shadow: 0 0 15px #333;
}
.nav-btn:hover {
  transform: scale(1.1);
}
/* Theme Toggle */
.theme-toggle {
  width: 45px;
  height: 45px;
  background: var(--main);
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 0 20px var(--main);
}
body.light .theme-toggle {
  background: black;
  color: yellow;
  box-shadow: 0 0 20px black;
}

/* ---------------- HERO SECTION ---------------- */
.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background: linear-gradient(135deg, #1c1b24, #0d0d0d);
  transition: 0.5s;
  padding: 0px 200px 0px 200px;
}
body.light .hero {
  background: linear-gradient(135deg, #ffffff, #d8d8d8);
  color: black;
}

.float-icon {
  position: absolute;
  width: 90px;
  opacity: 0.2;
  animation: float 6s infinite ease-in-out;
}

@keyframes float {
  50% {
    transform: translateY(-20px);
  }
}
.hero-left h1 span {
  color: var(--main);
  text-shadow: 0 0 10px var(--main);
  font-size: 50px;
}
.btn {
  padding: 12px 30px;
  background: var(--main);
  border-radius: 30px;
  border: none;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 15px var(--main);
  transition: 0.3s;
  margin-top: 20px;
}
.btn:hover {
  transform: scale(1.1);
}
.hero-img img {
  width: 380px;
  filter: drop-shadow(0 0 20px var(--main));
  animation: float 6s infinite;
  margin-top: 150px;
}
